.container1 {
    text-align: center; 
}

.Impressum {
    margin-top: 35px;
    margin-bottom: 35px;
    font-style: inherit;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.Footer {
    margin-top: 600px;
    
}

.imprp {
    font-size: large;
}

.Kontakt {
    margin-top: 35px;
}

.Angaben {
    margin-bottom: 25px;
    font-style: oblique;
}

.Kontakt {
    margin-bottom: 25px;
}

.Mail {
    font-size: 20px;
}

.Telefon {
    font-size: 22px;
}